// @import "./index.scss";
// @import "./footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$color-red: rgb(255, 80, 88);

* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}

.link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slick-dots {
  bottom: 12px !important;

  li {
    width: 6px !important;
  }

  .slick-active {
    button {
      &::before {
        color: $color-red !important;
      }
    }
  }
}
