@import "./global.scss";

.product_detail_page {
  .product_headnav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    height: 50px;
    display: flex;
    align-items: center;

    button {
      width: 2rem;
      height: 2rem;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }

  .product_basicInfo_wrap {
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 15px;

    .product_title {
      margin: 0px 0px 15px;
      font-size: 15px;
    }

    .product_price {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: bold;
      margin-right: 4px;
      display: flex;
      align-items: flex-end;

      span {
        margin-left: 4px;
      }
    }

    .product_tiemzzimview_wrap {
      color: rgb(136, 136, 136);
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      .product_time {
      }

      .product_zzimview_wrap {
        display: flex;

        .product_zzim {
          margin-right: 16px;

          .product_zzim_img {
            width: 15px;
            height: 15px;
            margin-right: 6px;
          }
        }

        .product_view {
          img {
            margin-right: 6px;
          }
        }
      }
    }
  }

  .product_explaininfo_wrap {
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 15px 15px 0px;

    .product_usedship_wrap {
      display: flex;
      margin-bottom: 15px;

      span {
        border-radius: 4px;
        border: 1px solid rgb(0, 114, 255);
        padding: 7px 10px 6px;
        font-size: 10px;
        color: rgb(0, 114, 255);
        white-space: nowrap;
        &:last-child {
          margin-left: 10px;
        }
      }
    }

    .product_count {
      margin-bottom: 15px;

      strong {
        margin-right: 5px;
        font-weight: normal;
        color: rgb(136, 136, 136);
      }
    }

    .product_explain {
      margin-bottom: 15px;
      width: 100%;
      overflow: auto;
      white-space: pre-wrap;
    }

    .product_etc_explain {
      color: rgb(136, 136, 136);
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 12px;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 2px;
          display: inline-block;
          border-radius: 50%;
          width: 3px;
          height: 3px;
          background-color: rgb(136, 136, 136);
        }

        span {
          margin-left: 10px;
        }

        .red {
          color: $color-red;
        }
      }
    }
  }

  .product_trade {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: white;
    border-top: 1px solid rgb(244, 244, 250);
    display: flex;
    align-items: center;

    button {
      height: 100%;
      width: (100%/2);
      border: none;
      // padding: 0 34px;
      font-size: 18px;
      font-weight: bold;

      &:first-child {
        background-color: white;
        color: $color-red;
      }

      &:last-child {
        background-color: $color-red;
        color: white;
      }
    }
  }
}
