// @import "./index.scss";
// @import "./footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$color-red: rgb(255, 80, 88);
$color-darkGray: rgb(102, 102, 102);
$color-lightGray: rgb(153, 153, 153);

* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}
