@import "./global.scss";

nav {
  display: flex;
  width: 100%;
  height: 3.5rem;
  justify-content: space-between;
  border-top: 1px solid rgb(244, 244, 250);
  z-index: 2000;

  $active-home: "/icons/gnb_home_active.svg";
  $nonactive-home: "/icons/gnb_home_nonactive.svg";
  $registration: "/icons/gnb_registration.svg";
  $active-myshop: "/icons/gnb_myshop_active.svg";
  $nonactive-myshop: "/icons/gnb_myshop_nonactive.svg";

  @mixin gnb-bg {
    background-image: url();
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  div {
    width: 4.5rem;
    height: 100%;
    cursor: pointer;
  }
}
