@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$color-red: rgb(255, 80, 88);

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}

.index_page {
  .search {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    height: 50px;
    width: 100%;
    background-color: white;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-red;

    input {
      height: 2rem;
      width: 100%;
      border: none;
      &:focus-visible {
        outline: none;
      }
    }

    button {
      background-color: transparent;
      border: none;
    }
  }
}
